@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

* {
    margin: 0;
    padding: 0;
}

.header-container-mobile {
    height: 80px;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 7;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
}

.edro-logo-mobile {
    min-width: 10%;
    max-width: 30%;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu_button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 30;
    width: 80px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}


.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #000000;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu_lines::before {
    content: '';
    top: -12px;
}

.burger-menu_lines::after {
    content: '';
    top: 12px;
}


.burger-menu_active .burger-menu_lines {
    background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu_active .burger-menu_lines::after {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu_nav {
    padding-top: 120px;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    overflow-y: auto;
    left: -100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    width: 70%;
}

.burger-menu_active .burger-menu_nav {
    left: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.burger-menu_link {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    color: #000000;
}


.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.link-container {
    padding: 18px 0;
    margin: 0 35px;
    border-bottom: 1px solid #ababab;
}

@media (max-width: 1000px) {
    .edro-logo-mobile {
        max-width: 30%;
    }

    .burger-menu_button {
        left: 10px;
    }

    .burger-menu_lines::before,
    .burger-menu_lines::after,
    .burger-menu_lines {
        width: 30px;
    }

    .burger-menu_lines::before {
        content: '';
        top: -10px;
    }

    .burger-menu_lines::after {
        content: '';
        top: 10px;
    }
}

@media (max-width: 800px) {
    .edro-logo-mobile {
        max-width: 40%;
    }
}

@media (max-width: 700px) {
    .edro-logo-mobile {
        max-width: 50%;
    }
}