/* Настройка шрифтов */
/* ____________________________________________________ */
@font-face {
    font-family: pixel;
    src: url(../../fonts/18965.ttf);
}

@font-face {
    font-family: lin;
    src: url(../../fonts/19168.ttf);
}
/* ____________________________________________________ */