.title__style__center {
    font-size: 30pt;
    font-family: lin;
    font-weight: 900;
    text-align: center;
}
.title__tech {
    font-size: 20pt;
    font-weight: 800;
    text-align: center;

}
