.title__style__center {
    font-size: 30pt;
    font-family: lin;
    font-weight: 900;
    text-align: center;
}

.title__style__center span,
.title__style {
    letter-spacing: 3px;
}

.title__tech {
    font-size: 20pt;
    font-weight: 800;
    text-align: center;

}

.animation__three {
    max-width: 450px;
    max-height: 450px
}