.header-container {
    height: 100px;
    margin: auto;
    max-width: 80%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(81, 81, 81, 1);
}

html,
body,
* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
    margin: 10px 0;
}

/* Работа с навигационным меню */
/* ____________________________________________________ */
.mnu_top {
    position: relative;
    display: block;
    top: 10px;
    left: 20px;
    padding: 0px;
}

header .mnu_top {
    list-style-type: none;
}

header .mnu_top li {
    display: inline-block;
    margin-right: 15px;
    font-size: 20pt;
    color: black;
}

header .mnu_top li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18pt;
    font-weight: 300;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    font-family: lin;

}

header .mnu_top li a:hover {
    color: gray;
}

/* ____________________________________________________ */

/* _______________________HEADER_________________________ */
.edro_logo {
    max-width: 15%;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center_header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

header .logo {
    width: 100%;

}

/* ____________________________________________________ */

/* Работа c полем контакты в header  */
/* ____________________________________________________ */
.ws-svg-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    line-height: 1;
    margin-right: 5px;
}

.mnu_right {
    position: relative;
    display: block;
    top: 10px;
    margin-right: 1%;


}

.mnu_right a {
    font-size: 12pt;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: lin;
}

.mnu_right a:hover {
    color: gray;
}

/* ____________________________________________________ */


/* Header обёртка для закрепления */
/* ____________________________________________________ */
.header_container {
    z-index: 1;
    background-color: white;
    width: 100%;
    position: fixed;
}

/* ____________________________________________________ */
#desctop {
    display: block;
}

#mobile {
    display: none;
}

@media (max-width: 1700px) {
    header {
        max-width: 90%;
    }

    header .mnu_top li a {
        font-size: 15pt;
        z-index: 1;
    }

    .ws-svg-icon {
        width: 18px;
        height: 18px;
    }

    header .mnu_top li {
        margin-right: 3px;
        font-size: 12pt;
    }

    .center_header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .edro_logo {
        max-width: 25%;
    }
}


@media (max-width: 1300px) {
    .edro_logo {
        max-width: 22%;
        position: relative;
        left: 7%;
    }

    header .mnu_top li a {
        font-size: 12pt;
    }
}

/* ____________________________________________________ */

@media (max-width: 1000px) {
    #desctop {
        display: none;
    }

    #mobile {
        display: block;
    }
}